<div class="center hero-unit">

  
  <h2>Welcome to the Sheraton Delfina Parking Reservation system<br/>provided by Ace Parking Management</h2>
  <%= link_to 'New Reservation', new_reservation_path, class: "btn btn-large btn-primary" %>

</div>
